@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --modal-duriation: 1s;
  --primary-color: #023047;
  --secondary-color: #f2cc8f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'San=serif';
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-nav {
  transform: translateX(200px);
}

nav {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  align-items: center;
  text-align: center;
  transform: translateX(-100%);
}

nav img {
  border-radius: 50px;
  height: 75px;
  width: 75px;
}

nav ul {
  padding: 0;
}
nav ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}
nav ul li:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

header {
  background: var(--primary-color);
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 60px;
}

header p {
  font-size: 30px;
}
button,
input[submit] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button,
input[submit]:focus {
  outline: 0;
}

.toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  padding: 15px;
  margin: 0 10px;
  max-width: 100%;
  /* width: 800px; */
}
.project {
  background-color: #ccc;
}
.container p {
  font-size: 30px;
}

.project_img {
  height: 300px;
  width: 400px;
  border: 2px solid var(--secondary-color);
}
.flex {
  display: flex;
}

.cta-btn {
  color: #000000;
}

/* Modal */

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.show-modal {
  display: block;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  height: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duriation);
}

.modal-header {
  background-color: var(--primary-color);
  padding: 15px;
  color: #fff;
}

.modal-container h3 {
  margin: 0;
}

.modal-form div {
  padding: 0 25px;
  margin: 10px;
}

.modal-form label {
  font-weight: 1000;
}
.form-input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 26px;
}

#close {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin-top: 9px;
}

.modal-content {
  font-weight: 900;
  align-items: center;
  text-align: center;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
